.button_container {
}

.button_small_size {
}

.button_large_size {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: calc(16rem / 16);
    background-color: var(--color_9);
    color: var(--color_6);
    font-size: calc(20rem / 16);
    line-height: 120%;
    font-weight: 500;
    border-radius: 12px;
    border: 0;
    width: 100%;
    cursor: pointer;
}

@media (orientation: landscape) and (min-width: 320px) and (max-width: 767px) {
}

@media (min-width: 768px) {
    .button_large_size {
        max-width: calc(114rem / 16);
    }
}

@media (min-width: 1440px) {
}