.hourly_forecast_box_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--color_3);
    border: 1px solid var(--color_4);
    border-radius: 8px;
    padding: calc(10rem/16) calc(12rem/16);

}
.hourly_forecast_box_left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(8rem/16);
}
.icon_img {
    width: calc(40rem/16);
    height: calc(40rem/16)
}

.hourly_forecast_box_right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.hourly_forecast_box_time_text {
    font-size: calc(20rem/16);
    color: var(--color_7);
}

.hourly_forecast_box_temp_text {
    font-size: calc(16rem/16);
    color: var(--color_7);

}

@media (orientation: landscape) and (min-width: 320px) and (max-width: 767px) {}

@media (min-width: 768px) {}

@media (min-width: 1440px) {}