.hourly_forecast_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background: var(--color_4);
    border: 0;
    border-radius: 20px;
    width: 100%;
    padding: calc(20rem/16) calc(16rem/16);

}
.hourly_forecast_header {}
.hourly_forecast_header_text {
    font-size: calc(20rem/16);
    font-weight: 600;
    color: var(--color_7);
    line-height: 120%;
}
.hourly_forecast_header_day {}
.hourly_forecast_boxes {}