.header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: calc(48rem/16)
}

.header_title_text {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: calc(52rem/16);
    line-height: 120%;
    font-weight: bold;
    color: var(--color_7);
    text-align: center;

}