.result_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: calc(32rem / 16);
}

.result_container_first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: calc(32rem / 16);
}

.result_container_second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (orientation: landscape) and (min-width: 320px) and (max-width: 767px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) {
  .result_container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 2%;
  }
  .result_container_first {
    width: calc(800rem/16);
  }
  .result_container_second {
    width: calc(372rem/16);
    margin: unset;
  }

}
